<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Sobre Nosotros</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="/resources/img/RoyalPawsLogo-nobg.png" type="image/x-icon">

	<!-- Cargar CSS -->
	<link rel="stylesheet" href="/resources/css/index.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>

<body class="my-body">

	<!-- Llamado Header -->
	<div th:replace="~{/fragments/header :: myheader}"></div>
	<br>
	<br>
	<br>

	<!--Nosotros-->
	<div class="container py-4">
		<h3 class="text-center text-light">Sobre Nosotros</h3>
		<div class="py-3 text-center d-flex">
			<div class="container-nosotros mx-5">
				<p id="nosotros" class="text-light">
					Acerca de Vision Clara

					En Vision Clara, entendemos que una buena visión es esencial para tu calidad de vida. Por eso,
					nuestro equipo trabaja con la misión de ofrecer los mejores lentes y servicios ópticos que se
					adapten a tus necesidades y estilo personal.
				</p>
				<p id="nosotros" class="text-light">
					Contamos con un equipo de expertos que no solo conoce la ciencia detrás de la óptica, sino que
					también se mantiene al día con las últimas tendencias en moda. Aquí encontrarás lentes de alta
					calidad aprobados por especialistas en salud visual.
				</p>
				<p id="nosotros" class="text-light">
					Sabemos que cada cliente es único, por lo que ofrecemos una amplia variedad de lentes: desde lentes
					recetados y de sol, hasta opciones antirreflejo y transición. Además, proporcionamos asesoría
					personalizada para que siempre elijas la opción perfecta.
				</p>
				<p id="nosotros" class="text-light">
					En Vision Clara, nuestra prioridad es tu comodidad. Nos aseguramos de que cada lente se ajuste
					perfectamente a ti, brindando no solo claridad visual, sino también estilo y confianza para tu día a
					día.
				</p>
				<p id="nosotros" class="text-light">
					¡Con nosotros, ver bien y lucir bien está a un solo clic de distancia!
				</p>
			</div>
			<div>
				<img class="img-nosotros" src="/resources/img/nosotros.jpg" alt="nosotros">
			</div>
		</div>
	</div>



	<br>
	<br>
	<br>
	<br>
	<!-- Llamado footer -->
	<div th:replace="~{/fragments/footer :: myfooter}"></div>

	<!-- Inicio Cargar JS -->
	<script src="/resources/js/jquery-3.6.0.js"></script>
	<script src="/resources/js/plugins.js"></script>
	<script src="/resources/js/back-top.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>


</body>

</html>